.Header {
    background-color: fuchsia;
    height: 18rem;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: -1vw;
    left: 50%;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.logo{
    position: relative;
    margin-top: -3vw;
}