.Header {
    background-color: fuchsia;
    height: 6em;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: -1vw;
    left: 50%;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    

}